<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/layout.css" />
    <link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.min.css" />
    <script defer src="../styles/bootstrap/js/bootstrap.min.js"></script>
    <script defer src="../js/scripts.js"></script>
    <title>Add Products</title>
  </head>
  <body>
    <div id="content">
      <span class="slide">
        <a href="#" onclick="onSlideMenu()">
          <i>OPEN</i>
        </a>
      </span>
      <p>kkkk</p>
    </div>

    <div id="menu" class="nav">
      <a href="#" class="close" onclick="closeSlideMenu()">
        <i>CLOSE</i>
      </a>
      <a href="">HOME</a>
      <a href="">ABOUT</a>
    </div>
  </body>
</html>
