<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/layout.css" />
    <link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.min.css" />
    <script defer src="../js/jQuery.min.js"></script>
    <script defer src="../styles/bootstrap/js/bootstrap.min.js"></script>
    <script defer src="../styles/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script defer src="../js/scripts.js" async></script>
    <title>Add Products</title>
  </head>
  <body onload="renderProducts()">
    <div id="content">
      <span class="slide" id="slide">
        <a href="#" onclick="onSlideMenu()">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-list"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            />
          </svg>
        </a>
      </span>
      <div class="main-container">
        <form>
          <fieldset>
            <!-- Form Name -->
            <legend class="text-center m-4">Quotation Information</legend>
            <div class="form-group row">
              <label class="col-md-3 control-label" for="name"
                >Reference No.</label
              >
              <div class="col-md-9">
                <input
                  id="refNo"
                  name="refNo"
                  type="text"
                  placeholder="Reference No."
                  class="form-control input-md"
                  required=""
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 control-label" for="name">Address</label>
              <div class="col-md-9">
                <textarea
                  id="nameAddress"
                  name="nameAddress"
                  type="text"
                  placeholder="Enter Address here"
                  class="form-control input-md"
                  required=""
                ></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 control-label" for="name">Reference</label>
              <div class="col-md-9">
                <input
                  id="ref"
                  name="ref"
                  type="text"
                  placeholder="Enter Reference "
                  class="form-control input-md"
                  required=""
                />
              </div>
            </div>
          </fieldset>
        </form>
        <div class="main-container">
          <div class="form-button">
            <button
              id="submit"
              name="submit"
              class="btn btn-success m-auto d-block"
              onclick="submitInfoData()"
            >
              Save Data
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="menu" class="sidebar">
      <a href="#" class="close" onclick="closeSlideMenu()">
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-x-square-fill"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
          />
        </svg>
      </a>
      <a href="generalInfo.html">Generate Slip</a>
      <a href="addProducts.html">Product's Form</a>
    </div>
  </body>
</html>
